extends ../layout.pug

block append vars
  - var title = "Home"

block content
  h1.lg-heading Steve 
    span.text-secondary Kaufman
  h2.sm-heading Self-taught Web Developer, Software Developer
  div.icons
    a(href="#!")
      i.fa.fa-github.fa-2x
    a(href="#!")
      i.fa.fa-linkedin.fa-2x
